services:
  - type: web
    name: sudokuinfinium
    env: static
    buildCommand: npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /sitemap.xml
        destination: /sitemap.xml
      - type: rewrite
        source: /robots.txt
        destination: /robots.txt
      - type: rewrite
        source: /*
        destination: /index.html
